:root {
  --color-1: #373f51; 
  --color-2: #EFCB68; 
  --color-3: #E1EFE6; 
  --color-4: #AEB7B3;
  --color-5: #FF715B; 
  --border-color: rgb(230, 230, 230);
  --box-shadow-color: rgba(0, 0, 0, 0.24);
  --background-white: #F7F9FB; 
  --top-margin: 56px; 
  --bottom-margin: 66px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  background-color: var(--color-3);
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.website-container {
  overflow-x: hidden; 
}

/* notification start */ 

.error {
  border: 1px solid red; 
  box-shadow: var(--box-shadow-color) 0px 1px 4px; 
}

.success {
  border: 1px solid green; 
  box-shadow: var(--box-shadow-color) 0px 1px 4px; 
}

.notification-container {
  position: absolute; 
  top: 50px; 
  width: 100%;
  display: flex; 
  justify-content: center; 
}

.notification {
  width: 300px; 
  height: auto; 
  padding: 5px; 
  background-color: var(--background-white);
  z-index: 1; 
}

/* notification end */ 

/* login start */ 

.login-container {
  width: 100%; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.login-input {
  border: 1px solid var(--border-color);
}

#login-button {
  margin-top: 10px; 
  background-color: var(--background-white); 
  color: var(--color-1);
  border: 1px solid var(--border-color);
}

#login-button:hover {
  cursor: pointer; 
  background-color: var(--color-4);
  border: 1px solid var(--color-4); 
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.register-button {
  margin-top: 10px; 
  border: 0; 
  padding: 0;
  background-color: inherit
}

.register-button:hover {
  color: var(--color-5);
  cursor: pointer; 
}

/* login end */ 

/* register page start */ 

.register-form-container {
  width: 100%; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.register-input-container {
  width: 255px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5px; 
}

.register-input-container > input {
  border: 1px solid var(--border-color);
}

#color-selector-container {
  margin-top: 20px; 
}

#register-submit-button {
  margin-top: 20px;
  background-color: var(--background-white); 
  color: var(--color-1);
  border: 1px solid var(--border-color);
}

#register-submit-button:hover {
  cursor: pointer; 
  background-color: var(--color-4);
  border: 1px solid var(--color-4); 
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

#register-submit-button-content {
  display: flex; 
  align-items: center; 
}

#register-submit-button-content > p {
  margin-right: 5px; 
}

#login-link {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: var(--color-1);
}

#login-link:hover {
  color: var(--color-5); 
}

#login-link > p {
  margin-left: 5px;
}

/* register page end */ 

/* top navbar start */ 

#top-nav-bar { 
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 55px; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-size: 0.75em; 
  background-color: var(--color-3);
  color: var(--color-1);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.top-nav-button {
  width: 150px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: none; 
  border: 0px; 
  padding: 0px;
  color: var(--color-1); 
  font-size: 1em; 
}

.top-nav-button:hover {
  color: var(--color-5); 
  cursor: pointer; 
}

.top-nav-button > p {
  margin-left: 5px; 
  margin-right: 5px; 
}

/* top navbar end */ 

/* bottom navbar start */ 

#bottom-nav-bar {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  height: 55px; 
  padding-bottom: 0px; 
  padding-top: 10px; 
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  background-color: var(--color-3);
  border-top: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.bottom-nav-link {
  display: flex; 
  flex-direction: column;
  width: 100px; 
  align-items: center; 
  color: var(--color-1);
  text-decoration: none;
}

.bottom-nav-icon {
  font-size: 1.5em; 
}

.bottom-nav-link > p {
  font-size: 0.75em; 
}

.active-nav-link {
  color: var(--color-5); 
}


/* bottom navbar end */ 

/* exercise table start */ 

.workout-table-container { 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-bottom: 50px;
}

.workout-table {
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px; 
}

.workout-table-head {
  display: flex; 
  text-align: center; 
  background-color: var(--color-1); 
  color: var(--color-3);
  border-bottom: 1px solid black;
}

.workout-table-head > h3 {
  width: 135px; 
}

.exercise-entry {
  display: flex; 
  text-align: center; 
  align-items: center; 
  background-color: var(--background-white);
}

.exercise-entry > p { 
  width: 135px; 
}

.workout-actions {
  width: 30px; 
}

.workout-actions > button {
  border: 0; 
  padding: 0; 
  background-color: inherit; 
  color: var(--color-1);
  font-size: 1.75em; 
}

.workout-actions > button:hover {
  color: var(--color-5);
  cursor: pointer; 
}

@media only screen and (max-width: 600px) {
  .workout-table-container {
    font-size: 0.75em; 
  }
  .workout-table-head > h3 {
    width: 15vw; 
  }
  .exercise-entry > p {
    width: 15vw; 
  }
}

/* exercise table end */ 

/* workout start */ 

.workout-container {
  width: 100%; 
  position: relative; 
  background-color: var(--color-3);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.profile-title {
  display: flex; 
  align-items: center; 
  text-decoration: none; 
}

.profile-title > h3 {
  color: var(--color-1); 
}

.profile-title > h3:hover {
  color: var(--color-5); 
}

.profile-picture {
  width: 25px; 
  height: 25px; 
  padding: 5px; 
  height: relative; 
  color: var(--color-3);
  background-color: var(--color-5);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
  margin-right: 5px;  
}

.workout-text-container > * {
  margin-left: 10px; 
  margin-right: 10px; 
}

.workout-name-date-container {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.workouts-container-profile { 
  margin-top: var(--top-margin);
  margin-bottom: var(--bottom-margin);  
}

.workout-exercise-titles-container {
  width: 100%;
  display: flex; 
  justify-content: center;  
}

.workout-exercise-titles {
  width: 90%; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.new-title {
  display: flex; 
  align-items: center; 
}

.vertical-line {
  height: 10px; 
  width: 1px; 
  background-color: var(--color-5);
  margin-left: 5px; 
  margin-right: 5px; 
}

.exercise-stats {
  width: 100%; 
  display: flex; 
  justify-content: space-evenly;  
}

.exercise-stat {
  width: 100px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.exercise-stat > p {
  margin-bottom: 0; 
}

.exercise-stat-number {
  font-size: 1.5em; 
}

.view-button-container {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  margin-top: 30px; 
}

.view-button {
  font-size: 1em; 
  border: 0; 
  padding: 0;
  padding-bottom: 5px; 
  background: inherit;  
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.view-button > p {
  margin-bottom: 5px; 
}

.view-button:hover {
  color: var(--color-5); 
  cursor: pointer; 
}

.fist-bump {
  position: absolute; 
  bottom: 0px;
  left: 10px;
  display: flex; 
  align-items: center; 
  margin-right: 8px;  
}

.fist-bump:hover { 
  cursor: pointer; 
}

.fist-bump > button {
  border: 0; 
  padding: 0;
  font-size: 1.25em; 
  background-color: inherit
}

.fist-bump > button:hover { 
  cursor: pointer; 
}

.fist-bump > p {
  margin-left: 8px; 
}

.left-fist-bump {
  margin-left: 5px; 
  margin-right: 8px; 
}

.delete-workout-button {
  position: absolute; 
  bottom: 10px;  
  right: 10px; 
  border: 0; 
  padding: 0; 
  background-color: inherit; 
  display: flex; 
  align-items: center; 
}

.delete-workout-button:hover {
  color: var(--color-5);
  cursor: pointer; 
}

/* workout end */ 

/* workout form start */ 

.workout-form-and-table-container {
  min-height: calc(100vh - var(--top-margin) - var(--bottom-margin));
  margin-top: var(--top-margin);
  background-color: var(--color-3);
  padding-top: 25px; 
  padding-bottom: 50px; 
}

.workout-input-container > input, .workout-input-container > textarea {
  border: 1px solid var(--border-color);
}

.workout-information {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.workout-form {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.workout-input-container {
  width: 225px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.workout-input-container > textarea {
  width: 147px; 
  word-wrap: break-word; 
}

.workout-form-button {
  display: flex; 
  align-items: center; 
  border: 0; 
  padding: 0; 
  background-color: inherit; 
}

.workout-form-button:hover {
  color: var(--color-5);
  cursor: pointer; 
}

.workout-form-button > p {
  margin-right: 5px; 
}

#workout-clear-button {
  position: absolute; 
  top: calc(var(--top-margin) + 25px); 
  left: 15px; 
}

#workout-save-button {
  position: absolute; 
  top: calc(var(--top-margin) + 25px);
  right: 15px; 
}

@media only screen and (max-width: 700px) {
  .exercise-table-workout-form {
    font-size: 0.5em; 
  }

}
/* workout form end */ 

/* profile start */ 

.profile-heading-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  margin-top: calc(var(--top-margin) + 50px);
}

.userIcon {
  width: 30px; 
  height: 30px; 
  padding: 15px; 
  border-radius: 50%; 
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.profile-follow-button, .profile-unfollow-button { 
  border: 1px solid var(--border-color);
  border-radius: 25px; 
  padding: 5px 10px 5px 10px 
}

.profile-unfollow-button {
  background-color: var(--color-4); 
}

.profile-follow-button {
  background-color: var(--background-white);
}

.profile-unfollow-button:hover {
  background-color: var(--background-white); 
  cursor: pointer; 
}

.profile-follow-button:hover {
  background-color: var(--color-4);
  cursor: pointer; 
}

.follow-container {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
}

.follow-container > div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.follow-container > button { 
  border: 0; 
  padding: 0; 
  background-color: inherit; 
}

.follow-container > button:hover { 
  color: var(--color-5); 
  cursor: pointer; 
}

.profile-stats-container {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
}

.profile-stats-container > div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.profile-workouts-link-container {
  display: flex; 
  justify-content: center; 
}

.profile-workouts-link { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-decoration: none; 
  color: black; 
}

.profile-workouts-link:hover { 
  color: var(--color-5); 
  cursor: pointer; 
}

.follow-list-display-container { 
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  z-index: 1; 
  width: 300px; 
  min-height: 300px; 
  height: auto; 
  max-height: calc(99% - (var(--bottom-margin) + var(--top-margin))); 
  margin: auto;
  left: 0; 
  right: 0;
  top: 50%; 
  transform: translateY(-50%);
  padding-left: 10px;
  padding-right: 10px; 
  background-color: var(--color-3);  
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}

.close-follow-list-button { 
  position: absolute; 
  font-size: 1.5em; 
  left: 5px; 
  top: 5px; 
}

.close-follow-list-button:hover { 
  color: var(--color-5);
  cursor: pointer; 
}

/* profile end */ 

/* users page start */

.users-container {
  margin-top: calc(var(--top-margin) + 50px);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.search-container {
  margin-bottom: 25px; 
}

.search-container > input {
  margin-left: 10px; 
  border: 1px solid var(--border-color);
}

.user-on-users-list { 
  display: grid; 
  grid-template-columns: 100px 100px 100px;
}

.users-list-link-to-profile { 
  text-decoration: none; 
  color: var(--color-1); 
}

.users-list-link-to-profile:hover { 
  color: var(--color-5); 
}

.user-on-users-list > button {
  width: 65px; 
  height: 20px; 
  justify-self: center; 
  align-self: center;  
}

.user-on-users-list > button:hover {  
  background-color: var(--color-5);
  cursor: pointer; 
}

.follow-button {
  background-color: var(--background-white);
  border: 1px solid var(--border-color);
  border-radius: 25px; 
}

.unfollow-button {
  background-color: var(--color-4); 
  border: 1px solid var(--border-color);
  border-radius: 25px; 
}
/* users page end */ 