:root {
  --border-color: rgb(230, 230, 230);
  --box-shadow-color: rgba(0, 0, 0, 0.24);
  --background-white: #F7F9FB; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-nav-bar { 
  position: fixed; 
  top: 0; 
  width: 100vw; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

#bottom-nav-bar {
  position: fixed; 
  bottom: 0; 
  width: 100vw; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border-top: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.workout-form {
  margin-top: 10vh; 
}

.workout-table { 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.workout-table > table {
  border: 2px solid black; 
  width: 800px; 
  height: 200px; 
}

.workout-table > table > thead > tr > th { 
  border-bottom: 1px solid black;
}

.workout-table > table > tbody > tr > td {
  text-align: center; 
}

/* */ 

.workout-table-container { 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.workout-table-2 {
  border: 2px solid black; 
  width: 800px; 
  height: 200px; 
}

.workout-table-head {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  border-bottom: 1px solid black;
}

.exercise-entry {
  display: flex; 
  justify-content: space-around;
  align-items: center; 
}
