:root {
  --color-1: #373f51; 
  --color-2: #EFCB68; 
  --color-3: #E1EFE6; 
  --color-4: #AEB7B3;
  --color-5: #FF715B; 
  --border-color: rgb(230, 230, 230);
  --box-shadow-color: rgba(0, 0, 0, 0.24);
  --background-white: #F7F9FB; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  background-color: var(--color-4);
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* top navbar start */ 

#top-nav-bar { 
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 62px; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-size: 0.75em; 
  background-color: var(--color-3);
  color: var(--color-1);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.top-nav-button {
  width: 150px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: none; 
  border: 0px; 
  padding: 0px;
  color: var(--color-1); 
  font-size: 1em; 
}

.top-nav-button:hover {
  color: var(--color-5); 
  cursor: pointer; 
}

.top-nav-button > p {
  margin-left: 5px; 
  margin-right: 5px; 
}

/* top navbar end */ 

/* bottom navbar start */ 

#bottom-nav-bar {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding-bottom: 0px; 
  padding-top: 10px; 
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  background-color: var(--color-3);
  border-top: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.bottom-nav-link {
  display: flex; 
  flex-direction: column;
  width: 100px; 
  align-items: center; 
  color: var(--color-1);
  text-decoration: none;
}

.bottom-nav-icon {
  font-size: 1.5em; 
}

.bottom-nav-link > p {
  font-size: 0.75em; 
}

.active-nav-link {
  color: var(--color-5); 
}


/* bottom navbar end */ 

/* workout table start */ 

.workout-table-container { 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-bottom: 50px;
}

.workout-table {
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px; 
}

.workout-table-head {
  display: flex; 
  text-align: center; 
  background-color: var(--color-1); 
  color: var(--color-3);
  border-bottom: 1px solid black;
}

.workout-table-head > h3 {
  width: 135px; 
}

.exercise-entry {
  display: flex; 
  text-align: center; 
  align-items: center; 
  background-color: var(--background-white);
}

.exercise-entry > p { 
  width: 135px; 
}

.workout-actions {
  width: 135px; 
}

.workout-information { 
  margin-top: 15vh; 
}

@media only screen and (max-width: 600px) {
  .workout-table-head > h3 {
    width: 90px; 
  }
  .exercise-entry > p {
    width: 90px; 
  }
  .workout-actions {
    width: 90px; 
  }
}

@media only screen and (max-width: 400px) {
  .workout-table-container {
    font-size: 0.75em; 
  }
  .workout-table-head > h3 {
    width: 70px; 
  }
  .exercise-entry > p {
    width: 70px; 
  }
  .workout-actions {
    width: 70px; 
  }
}

/* workout table end */ 

/* workout start */ 

.workout-container {
  width: 100%; 
  position: relative; 
  background-color: var(--color-3);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

.profile-title {
  display: flex; 
  align-items: center; 
}

.profile-picture {
  width: 25px; 
  height: 25px; 
  padding: 5px; 
  height: relative; 
  color: var(--color-3);
  background-color: var(--color-5);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
  margin-right: 5px;  
}

.workout-text-container > * {
  margin-left: 10px; 
  margin-right: 10px; 
}

.workout-name-date-container {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.workouts-container-profile { 
  margin-top: 63px;
  margin-bottom: 70px;  
}

.workout-exercise-titles-container {
  width: 100%;
  display: flex; 
  justify-content: center;  
}

.workout-exercise-titles {
  width: 90%; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.new-title {
  display: flex; 
  align-items: center; 
}

.vertical-line {
  height: 10px; 
  width: 1px; 
  background-color: var(--color-5);
  margin-left: 5px; 
  margin-right: 5px; 
}

.exercise-stats {
  width: 100%; 
  display: flex; 
  justify-content: space-evenly;  
}

.exercise-stat {
  width: 100px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.exercise-stat > p {
  margin-bottom: 0; 
}

.exercise-stat-number {
  font-size: 1.5em; 
}

.view-button-container {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  margin-top: 30px; 
}

.view-button {
  font-size: 1em; 
  border: 0; 
  padding: 0;
  padding-bottom: 5px; 
  background: inherit;  
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.view-button > p {
  margin-bottom: 5px; 
}

.view-button:hover {
  color: var(--color-5); 
  cursor: pointer; 
}

.fist-bump {
  position: absolute; 
  bottom: 0px;
  left: 10px;
  display: flex; 
  align-items: center; 
  margin-right: 8px; 
  border: 0; 
  padding: 0;
  font-size: 1em; 
  background-color: inherit; 
}

.fist-bump:hover {
  color: var(--color-5); 
  cursor: pointer; 
}

.fist-bump > p {
  margin-left: 8px; 
}

.left-fist-bump {
  margin-left: 5px; 
  margin-right: 8px; 
}

/* workout end */ 

/* workout form start */ 

.workout-form-and-table-container {
  margin-bottom: 75px; 
}

.workout-information {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.workout-form {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.workout-input-container {
  width: 225px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.workout-input-container > textarea {
  width: 147px; 
  word-wrap: break-word; 
}
/* workout form end */ 



